<div class="jumbotron">
    <h1 class="display-4">Bienvenido a NGSevilla</h1>
    <p class="lead">Esto es una aplicación de pruebas con todo nuestro material tratado en nuestros Meetups de NGSevilla</p>
    <hr class="my-4">
    <p>Te esperamos en nuestras próximas sesiones:</p>
    <p><img src="/assets/images/logo-angular-ngsevilla.png" class="img-fluid" alt="Logo NG Sevilla"></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://www.meetup.com/es-ES/ngSevilla/" role="button">Únete al grupo</a>
    </p>
</div>
